/* Add these styles to your existing CSS file or create a new one */

.custom-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px; /* Set the desired height for the image */
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn-secondary,
  .btn-primary {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }
  
  .btn-secondary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-secondary:hover,
  .btn-primary:hover {
    filter: brightness(90%);
  }
  